docopt==0.6.2
numpy==1.17.2
pyspark==2.3.3
mock==2.0.0
pandas==0.24.1
pyarrow==0.13.0
pytest==3.8.0
pytest-cov==2.5.1
pytest_mock==3.8.1
holidays==0.9.10
flake8==3.7.7
flake8-import-order==0.18
jupyter==1.0.0
pip==20.2.3
wheel==0.33.1
twine==3.2.0
coveralls==1.6.0